@import "tailwindcss";

:root {
  /* layout */
  --limit-width: 414px;
  --bottom-gap: 20px;
  --header-height: 62px;
  --navbar-height: 62px;
  /* common color */
  --overlay-color: rgba(27, 27, 27, 0.9);
  /* z-index */
  --z-index-modal: 100;
  --z-index-toast: 9999;
  --z-index-navbar: 90;
  /* window size */
  --app-width: 100%;
  --app-height: 100dvh;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  background: radial-gradient(circle at center, rgba(var(--primary), 0.25), #ffffff);
}

* {
  box-sizing: border-box;
}

#root,
#__next {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "SF Pro Display", serif;
  background-color: white;
  min-width: 414px;
  min-height: 600px;
  height: var(--app-height);
  margin: auto;
  position: relative;
  z-index: 0;

  @media (min-width: 640px) {
    max-width: var(--limit-width);
  }
}

::-webkit-scrollbar {
  display: none;
}

@keyframes loadingBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-loadingBar {
  animation: loadingBar 2s infinite;
}
